h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.75rem;
    margin: 3.4rem 15rem;
    color: rgb(155,155,155);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.333rem;
    margin: 0rem 15rem;
    color: rgb(223,223,223);
}

.contentContainer {
    flex: .55;
    text-align: center;
}

.colorBar {
    height: 15px;
    width: 10rem;
    margin: 5rem auto 0rem auto;
}

.fadeIn-enter {
    opacity: .01;
}

.fadeIn-enter.fadeIn-enter-active {
    animation: 500ms ease-in 300ms fadein;
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    animation: fadeout 300ms;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@media (max-width: 769px)
{
    h1 {
        margin: 3.4rem 0rem;
        font-size: 2rem;
    }

    p {
        margin: 0rem;
        font-size: 1rem;
    }
}