.navRow {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(155,155,155, .5);
}

.navBtn {
    padding: 2.18rem 5.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(74,74,74);
}

.navBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 769px)
{
    .navBtn {
        padding: 2.18rem 1.3rem;
    }
}