.headerContainer {
    display: flex;
    flex-direction: column;
    flex: .45;
    position: relative;
    background-image: url('./bgimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.headerContainer>h1 {
    position: absolute;
    bottom: 12.5rem;
    flex: 1;
    font-size: 2.5rem;
    margin: 0rem 0rem 0rem 3rem;
    color: rgb(74,74,74);
}

@media (max-width: 769px)
{
    .headerContainer {
        min-height: 250px;
    }
    .headerContainer>h1 {
        position: absolute;
        bottom: 7rem;
        font-size: 2rem;
        width: 60%;
    }
}